nav {
    min-width: 80%;
    color: oklch(84.978% 0.01397 295.12 / 0.671);
    border-bottom: 1px solid oklch(0.43 0.02 299.59);
    background-color: oklch(0.31 0.03 304.46);
    z-index: 99999999999999999999999999999999999999;
}

button{
    background-color: oklch(0.54 0.27 286.75);
    outline: none;
    border: none;
    align-items: center;
    justify-content: center;
}
.menu {
    border: 1px solid oklch(0.43 0.02 299.59);

}

nav .mid ul .abc,
button{
    transition: all .3s;
}

button:hover{
    background: oklch(0.41 0.13 307.69);
}

nav .mid ul .abc:hover,
nav .mid ul .abc:active{
    color: oklch(0.41 0.13 307.69);
}
.mobile-menu {
    display: none;
    background-color: oklch(0.31 0.03 304.46);
    animation: slideDown 0.5s ease-in-out;
}

.mobile-menu.open {
    display: block;
}


@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}